/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";





.caroussel {
	font-family:sans-serif;
	width:100%;
	// background-color: #CCC;
	// padding:5% 10% 10% 10%;
	// position:absolute;




	

	.page {
		// margin:0 auto;
		width:100%;
		@include display-flex;
		@include justify-content(center);
		@include align-items(center);
		@include flex-flow(column wrap);
		background: -moz-radial-gradient(center, ellipse cover, #CCC 1%, #474747 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, #CCC 1%,#474747 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, #CCC 1%,#474747 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		min-height:100vh;
		position:absolute;
		padding:0% 0% 5% 0%;
		@include prefixed-properties(css-boxshadow, $box-shadow-support-threshold, (box-shadow: 0px 0px 2px  2px black));
		
	

	

		.question {
			text-align: center;
			padding:50px;
			color:white;
			h1 {
				font-size: 2.5em;
				@include text-shadow(1px 1px 5px black);
			}
				h3 {
					margin-top:20px;
					font-size:1.5em;
					@include text-shadow(1px 1px 5px black);
				}
		}


		.choice{
			@include display-flex;
			@include flex-flow(row wrap);
			@include justify-content(center);



			input {
				@include flex(0 1 430px);
				@include display-flex;
				@include justify-content(center);
				@include align-items(center);
				background-color: #CCC;
				margin:15px 20px;
				padding:55px;
				border:1px solid black;
				font-size:1.2em;
				@include prefixed-properties(css-boxshadow, $box-shadow-support-threshold, (box-shadow: 0px 0px 5px black));
				&:focus {
					outline:none;
					outline-style:none;
				}
			}
		}

		.com {
			width: 84%;
			margin-top:50px;
			@include display-flex;
			@include flex-flow(row nowrap);
			@include justify-content(space-around);
		
			input:first-child {
				@include flex(0 1 200px);
				@include display-flex;
				@include justify-content(center);
				@include align-items(center);
				background-color: white;
				height: 60px;
				border:1px solid black;
				margin:5px;
				font-size:1.2em;
				@include prefixed-properties(css-boxshadow, $box-shadow-support-threshold, (box-shadow: 0px 0px 2px black));
				&:focus {
					outline:none;
					outline-style:none;
				}
			}

			input:nth-child(2){
				@extend input:first-child;
			}	
		}
	}

	.test {
		@extend .page;
	}
}




.trueAns {
	border:1px solid red;
}


.falseAns {
	background-color: red !important;
}

.sel {
	color:white;
	background-color:#333;
}
























