doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(href='stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css')
		title 
	body
		div.caroussel
			div.page
				div.choice
					input(type="button" placeholder="Answer 1")
					input(type="button" placeholder="Answer 2")
					input(type="button" placeholder="Answer 3")
					input(type="button" placeholder="Answer 4")
				div.com
					input(type="button" placeholder="<< Previous")
					input(type="button" placeholder="Next 











		script(src='js/script.js')
	