doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(href='stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css')
		title 
	body
		div.caroussel
			div.page
				div.question
					h1 QUESTION 1
					h3 Text of the first question .......... ?
				div.choice
					input(type="button" value="Answer 1") 
					input(type="button" value="Answer 2" name="1")
					input(type="button" value="Answer 3")
					input(type="button" value="Answer 4")
				div.com
					input(type="button" class="prev" value="<< Previous")
					input(type="button" class="next" value="Next >>")
			div.page.page2
				div.question
					h1 QUESTION 2
					h3 Text of the first question .......... ?
				div.choice
					input(type="button" value="Answer 1") 
					input(type="button" value="Answer 2")
					input(type="button" value="Answer 3")
					input(type="button" value="Answer 4")
				div.com
					input(type="button" class="prev" value="<< Previous")
					input(type="button" class="next" value="Next >>")
			div.page.page3
				div.question
					h1 QUESTION 3
					h3 Text of the first question .......... ?
				div.choice
					input(type="button" value="Answer 1") 
					input(type="button" value="Answer 2")
					input(type="button" value="Answer 3")
					input(type="button" value="Answer 4")
				div.com
					input(type="button" class="prev" value="<< Previous")
					input(type="button" class="next" value="Next >>")











		script(src="js/jquery-2.2.3.min.js")
		script(src='js/script_cam.js')
		script(src="js/script_yo.js")
		script(src='js/script_cecile.js')
		
	