doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(href='stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css')
		title 
	body
		div.caroussel
			div.page
				div.choice
					input(type="button" value="??" placeholder="??")
					input(type="button")
					input(type="button")
					input(type="button")
				div.com
					input(type="button")
					input(type="button")











		script(src='js/script.js')
	