/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/screen.scss */
.sel {
  color: white;
  background-color: #333 !important;
}

/* line 11, ../sass/screen.scss */
.caroussel {
  font-family: sans-serif;
  width: 100%;
}
/* line 16, ../sass/screen.scss */
.caroussel .page, .caroussel .page2 {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  background: -moz-radial-gradient(center, ellipse cover, #CCC 1%, #474747 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #CCC 1%, #474747 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #cccccc 1%, #474747 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  min-height: 100vh;
  position: absolute;
  padding: 0% 0% 5% 0%;
  -moz-box-shadow: 0px 0px 2px 2px black;
  -webkit-box-shadow: 0px 0px 2px 2px black;
  box-shadow: 0px 0px 2px 2px black;
}
/* line 32, ../sass/screen.scss */
.caroussel .page .question, .caroussel .page2 .question {
  text-align: center;
  padding: 50px;
  color: white;
}
/* line 36, ../sass/screen.scss */
.caroussel .page .question h1, .caroussel .page2 .question h1 {
  font-size: 2.5em;
  text-shadow: 1px 1px 5px black;
}
/* line 40, ../sass/screen.scss */
.caroussel .page .question h3, .caroussel .page2 .question h3 {
  margin-top: 20px;
  font-size: 1.5em;
  text-shadow: 1px 1px 5px black;
}
/* line 48, ../sass/screen.scss */
.caroussel .page .choice, .caroussel .page2 .choice {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 55, ../sass/screen.scss */
.caroussel .page .choice input, .caroussel .page2 .choice input {
  -webkit-flex: 0 1 430px;
  flex: 0 1 430px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #CCC;
  margin: 15px 20px;
  padding: 55px;
  border: 1px solid black;
  font-size: 1.2em;
  -moz-box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
}
/* line 66, ../sass/screen.scss */
.caroussel .page .choice input:focus, .caroussel .page2 .choice input:focus {
  outline: none;
  outline-style: none;
}
/* line 74, ../sass/screen.scss */
.caroussel .page .com, .caroussel .page2 .com {
  width: 84%;
  margin-top: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
/* line 81, ../sass/screen.scss */
.caroussel .page .com input:first-child, .caroussel .page2 .com input:first-child, .caroussel .page .com input:nth-child(2), .caroussel .page2 .com input:nth-child(2) {
  -webkit-flex: 0 1 200px;
  flex: 0 1 200px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: white;
  height: 60px;
  border: 1px solid black;
  margin: 5px;
  font-size: 1.2em;
  -moz-box-shadow: 0px 0px 2px black;
  -webkit-box-shadow: 0px 0px 2px black;
  box-shadow: 0px 0px 2px black;
}
/* line 92, ../sass/screen.scss */
.caroussel .page .com input:first-child:focus, .caroussel .page2 .com input:first-child:focus, .caroussel .page .com input:focus:nth-child(2), .caroussel .page2 .com input:focus:nth-child(2) {
  outline: none;
  outline-style: none;
}

/* line 115, ../sass/screen.scss */
.falseAns {
  background-color: red !important;
}

/* line 119, ../sass/screen.scss */
.trueAns {
  background-color: green !important;
}

/* line 123, ../sass/screen.scss */
.trueAnsBack {
  background: -moz-radial-gradient(center, ellipse cover, #C7C7C7 1%, #2C0 100%) !important;
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #C7C7C7 1%, #2C0 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #c7c7c7 1%, #22cc00 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* line 130, ../sass/screen.scss */
.falseAnsBack {
  background: -moz-radial-gradient(center, ellipse cover, #C7C7C7 1%, #C20 100%) !important;
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #C7C7C7 1%, #C20 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #c7c7c7 1%, #cc2200 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
